html {
    /* background: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 100%); */
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    text-size-adjust: auto;
    background-repeat: no-repeat;
}

.header h1 {
    font-family: 'Garamond';
    font-size: 50px;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
}

.header h2, h3 {
    font-family: 'Arial';
    font-size: 15px;
    text-align: center;
    line-height: 16px;
}

.introduction p {
    text-align: justify;
    font-size: 20px;
    padding-right: 13%;
    padding-left: 13%;
}

.introduction para-1 {
    margin-top: 3%;
}

.introduction ul {
    text-align: justify;
    font-size: 20px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 2%;
}

.crimes-explore p {
    text-align: justify;
    font-size: 20px;
    padding-right: 13%;
    padding-left: 13%;
}

.crimes-explore #para-1 {
    margin-top: 30px;
}

.crimes-explore ul {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 2%;
}

.project-1 #chicago-map {
    float: left;
    margin-left: 50px;
}

.explore-schools p {
    text-align: justify;
    font-size: 20px;
    padding-right: 13%;
    padding-left: 13%;
}

.explore-schools ul {
    text-align: justify;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 2%;
}

.explore-schools #para-1 {
    margin-top: 30px;
}

.explore-schools #para-3 {
    text-align: center;
    font-size: 40px;
}

.explore-schools #dropdown {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.project-3{
    display: flex;
}

.project-3 #chicago-map-2 {
    /* margin-left: 50px; */
    margin-right: 100px;
    flex: 1;
}

.project-3 #single-community-zoom {
    margin-left: 30px;
    margin-right: 100px;
}

.psn-initiative p {
    text-align: justify;
    font-size: 20px;
    padding-right: 13%;
    padding-left: 13%;
}

.psn-initiative #para-1 {
    margin-top: 50px;
}

.psn-initiative #dropdown {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.psn-initiative #gunviolence {
    text-align: center;
    margin-top: 50px;
}

.references ul {
    text-align: justify;
    font-size: 20px;
    padding-right: 13%;
    padding-left: 13%;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }

.leaflet-container {
    width:500px;
    height:700px;
}